/* App.css */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 20px;
}

.hero-text {
  background-color: #ffe8e0;
  flex: 1;
  padding: 20px;
  text-align: left;
  margin-top: -100px;
}

.hero-image {
  flex: 1;
  text-align: right;
  background-color: rgb(136, 178, 227) ;
}

.hero-image img {
  max-width: 80%;
  height: auto;
}


.test{
  background-color: rgb(28, 26, 22);
}